body {
    color: white;
    background: #4A148C;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.heading {
    width: 80%;
    font-size: 44px;
}
.name_of_objects {
    color: #7986CB;
}
#camera {
    border: 2px dashed #7986CB;
    width: 350px;
    height: 300px;
}
#result_object_name, #result_object_accuracy {
    color: #EEEEEE;
}